main {
	margin: 0 auto;
	max-width: 90%;
  padding: 50px 30px;
}

:root {
  --primary: #ff5757;
  --secondary: #ff1616;
  --tertiary: #ff66c4;
  --fourth: #8c52ff;
  --fifth: #03989e;
}

body {
  margin: 0;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--secondary);
}

button:hover {
  opacity: .8;
}

/* navbar stylings */
.navbar {
  background-color: var(--secondary);
  color: var(--fourth);
}

.navbar a {
  color: inherit;
  text-decoration: none;
}

.navbar btn {
  border-radius: 5px;
}

.navbar btn:hover {
  background: rgb(189,99,237);
  background: linear-gradient(18deg, rgba(189,99,237,1) 26%, rgba(48,127,214,1) 56%, rgba(172,236,163,1) 91%);
}

/* about me section styling */

#aboutMe {
  padding: 50px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.aboutText {
  border: var(--secondary) solid 5px;
}

#aboutMe img {
  border-radius: 5px;
}

#aboutMe h2 {
  margin-bottom: 25px;
}