main {
	margin: 0 auto;
	max-width: 90%;
  padding: 50px 30px;
}

:root {
  --primary: #ff5757;
  --secondary: #ff1616;
  --tertiary: #ff66c4;
  --fourth: #8c52ff;
  --fifth: #03989e;
}

body {
  margin: 0;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--secondary);
}

button:hover {
  opacity: .8;
}

/* navbar stylings */
.navbar {
  background-color: var(--secondary);
  color: white;
}

.navbar a {
  color: inherit;
  text-decoration: none;
}

.navbar btn {
  border-radius: 5px;
}

.navbar btn:hover {
  background: rgb(189,99,237);
  background: linear-gradient(18deg, rgba(189,99,237,1) 26%, rgba(48,127,214,1) 56%, rgba(172,236,163,1) 91%);
}

.navActive {
  color: rgba(48,127,214,1);
}

/* about me section styling */

#about {
  padding: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.aboutText {
  border: var(--secondary) solid 5px;
}

#aboutMe img {
  border-radius: 5px;
}

#aboutMe h2 {
  margin-bottom: 25px;
}

/* Contact Form Styling */
form {
  width: 40%;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

textarea {
	width: 600px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
}

#submit {
  color: white;
  background-color: var(--fourth);
}

/* projects styling */


/* resume styling */
#download {
  color: white;
  background-color: var(--fourth);
}
